*,
body {
  padding: 0;
  margin: 0;
}

h1 {
  margin-left: 5vw;
  padding-top: 3vh;
  padding-bottom: 5vh;
}

.group div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.group div:nth-child(2) div:nth-child(odd) {
  width: 96.5%;
  margin-left: 0;
  height: 4vh;
  background-color: rgb(232, 245, 245);
  display: flex;
  justify-content: flex-start;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  margin-bottom: 1vh;
  margin-left: 10%;
}

.score h4 {
  margin-bottom: 3vh;
}

.group div h4 {
  margin-right: 4vw;
}

.button {
  width: 20vw;
  height: 3vh;
  margin-left: 4vw;
}

.table {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 70vw;
  margin-left: 10vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.theusers {
  display: flex;
  justify-content: flex-start;
  width: 68vw;
  margin-left: 0;
  padding-left: 2vw;
}

.theusers h5 {
  width: 45%;
}

.theusers span {
  margin-left: 2vw;
}

.theform {
  display: flex;
  flex-direction: column;
}

.name {
  width: 50vw;
  margin-bottom: 1vh;
  margin-left: 10%;
}

.sub {
  width: 20vw;
  margin-left: 38%;
}

@media screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20vh auto;
  }

  h1 {
    grid-area: 1/1/2/2;
    padding-top: 5vh;
    padding-bottom: 0;
    font-size: 55px;
    margin-left: 2vw;
  }

  .group {
    grid-area: 2/1/3/2;
  }

  .group div:first-child {
    justify-content: flex-start;
    margin-left: 5vw;
  }

  .group div:nth-child(2) div:nth-child(even) {
    width: 96.5%;
    margin-left: 0;
    height: 4vh;
    align-items: center;
  }

  .button {
    width: 20%;
    height: 3%;
    margin-left: 0;
    font-size: 20px;
  }

  .score {
    grid-area: 2/2/3/3;
  }

  .table {
    width: 65%;
    margin-left: 5vw;
  }

  .theusers {
    padding-left: 1vw;
  }

  .theusers h5 {
    font-size: 20px;
    width: 60%;
  }

  div .player {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .theusers span {
    margin-left: 2vw;
    font-size: 20px;
  }

  .score div h4 {
    font-size: 38px;
  }

  input.score {
    width: 80%;
    margin-left: 0;
  }

  .name {
    font-size: 20px;
    width: 80%;
    margin-left: 0;
    height: 4vh;
    margin-bottom: 3vh;
  }

  .sub {
    font-size: 20px;
    width: 30%;
    margin-left: 15vw;
    height: 4vh;
  }
}
